@{
    ViewBag.Title = "Home Page";
}


</style>
<br /> <br /> <br /><br /> <br /> <br />
<div class="">
    
    <h1  style="color:white;">Our System Helps You Find The Job You Desire<br /> And The Job That Fits Your Talent</h1>
    <p class="lead" style="color:white;">We need your talent and hardwork. Hurray up and apply<br /> for our vacant postions</p>
    <input type="button" class="btn btn-danger btn" value="Apply Now" onclick="location.href='@Url.Action("Index", "Apply")'" />
    <div style="float:right;" class="resize">
        <img src="~/Content/ACT_step5_customconfig-600x388.png" />
    </div>

</div>
