
@{
    ViewBag.Title = "ViewCandidates";
}

<h2 style="color:white;">View Candidates</h2>
<br />
<h3 style="color:white;">Candidates For Driver Job </h3>
<h4 style="color:white;">First Candidate (Linda Harris)</h4>
<input type="button" class="btn btn-danger btn" value="Check CV" onclick="location.href = '/Content/Delivery_driver_CV_example.pdf'" />
<br />
<h4 style="color:white;">Second Candidate (Mark Lawrence)</h4>
<input type="button" class="btn btn-danger btn" value="Check CV" onclick="location.href = '/Content/Truck-driver-resume-pdf.pdf'" />
<br />
<div style="float:right;" class="resize">
    <img src="~/Content/walls_hero@2x_2.png" />
</div>
<hr />


<h3 style="color:white;">Candidates For An IT Professoinal Job</h3>
<h4 style="color:white;">First Candidate (John H. Smith)</h4>
<input type="button" class="btn btn-danger btn" value="Check CV" onclick="location.href = '/Content/IT Project Manager Resume.pdf'" />
<br />
<h4 style="color:white;">Second Candidate (Charles Babbage)</h4>
<input type="button" class="btn btn-danger btn" value="Check CV" onclick="location.href = '/Content/Sample Information Technology Resume.pdf'" />

